<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="user" class="com.atguigu.boot.pojo.User">
        <property name="name" value="张三"/>
        <property name="age" value="18"/>
        <property name="sex" value="男"/>
    </bean>

    <bean id="person" class="com.atguigu.boot.pojo.Person">
        <property name="name" value="小白"/>
        <property name="age" value="18"/>
        <property name="sex" value="女"/>
        <property name="user" ref="user"/>
    </bean>
</beans>